.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  justify-content: space-between;
  align-items: center;
}

.trybewarts-login {
  display: flex;
  align-items: center;
  margin: 5px;
}

main {
  display: flex;
  justify-content: center;
  margin: 70px auto;
}

#evaluation-form {
  width: 675px;
  display: flex;
  flex-direction: column;
}

#trybewarts-forms-logo {
  height: 500px;
}

#input-name {
  flex-flow: row;
}

#input-lastname {
  flex-flow: row;
}

#input-email {
  flex-flow: row;
  align-items: flex-end ;
}

.rodape {
  display: flex;
  justify-content: center;
  background-color: rgb(61, 128, 102);
  padding: 5px 0;
  color: white;

}
